#Home
{    
	font-size:20px;
}
#Headers
{ 
	font-size:20px;
}
#Table
{ 
	font-size:20px;
}
#List
{ 
	font-size:20px;
}
#Text formats
{ 
	font-size:20px;
}
#Blockquotes
{ 
	font-size:20px;
}
a[href]
{
	color:violet;
}
#p1
{
	background-color:yellow;
}
